body {
  font-family:"Microsoft YaHei", "sans-serif";
  font-size: 13px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

nav, div {
  display: block;
}

.nav-masthread {
  height: 50px;
  margin-bottom: 18px;    /* 底部边缘宽度 */
  border: 1px solid transparent;
  border-width: 0 0 1px;
  border-color: #e7e7e7;
  background-color: #f8f8f8;
  font-size: 16px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-image: linear-gradient(to bottom, #fff 0, #e1e1e1 100%); */
  background-repeat: repeat-x;
  /* border-radius: 0px; */
}

.nav-masthread:before, .nav-masthread:after, .masthread-container:before, .masthread-container:after {
  display: table;
  content: " ";
}

*, *:before, *:after {
  box-sizing: border-box;
}

.masthread-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  width: 1170px;
  height: 50px;
  /* flex布局，设置子元素垂直居中 */ /* 使用这种方式反而导致中间栏无法自动拓展到最大宽度？ */
  /* display: flex;
  align-items: center; */
}

.masthread-header {
  float: left;
  margin-right: 0;
  margin-left: 0;
  /* 垂直居中 */
  position: absolute;
  top: 0;
  bottom: 0;
}

.masthread-header:after {
  clear: both;
}

.masthread-header:before, .masthread-header:after {
  display: table;
  content: " ";
}

.logo-button {
  display: none;
  position: relative;
  float: right;
  padding: 9px, 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  appearance: button;
  text-transform: none;
  margin: 0;
  align-items: flex-start;
  text-align: center;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  font: 400 13.3333px Arial;
}

a {
  color: #666;
  text-decoration: none;  /* 隐藏链接的下划线 */
}

img {
  height: 42px;
  margin: 4px 4px;
  vertical-align: middle;
  border: 0;
}

.user-login {
  padding: 10px 15px;
  width: 100px;
  float: right;
}

.user-login ul, .user-login li {
  margin: 0;
  padding: 0;
  list-style: none outside;
}
.user-login>ul {
  overflow: auto;
  display: inline-block;
}
.user-login a, .user-login span {
  cursor: pointer;

}

/* @media (min-width: 768px) */
.module-tools {
  margin-right: 0;
  margin-left: 0;
  display: block!important;
  height: auto!important;
  width: auto;
  padding-bottom: 0;
  border-top: 0;
  overflow: visible!important;
  padding-left: 15px;
  padding-right: 15px;
}

.masthread-menu {
  margin-right: -15px;
  float: right!important;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: block;
  
}

.masthread-menu>li {
  float: left;
  position: relative;
  display: block;
}
.masthread-menu>li>a {
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 18px;
  padding: 10px 15px;
}

