<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kwseeker.www.ssm_island.dao.UserMapper">
  <resultMap id="BaseResultMap" type="top.kwseeker.www.ssm_island.pojo.User">
    <constructor>
      <arg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="introduction" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="top.kwseeker.www.ssm_island.pojo.User">
    insert into t_user (uid, username, password, 
      introduction, phone, email, 
      role, create_time, update_time
      )
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{role,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.kwseeker.www.ssm_island.pojo.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
        role,
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
        1,
        now(),
        now(),
    </trim>
  </insert>

  <sql id="Base_Column_List" >
    uid, username, password, introduction, phone, email, role, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_user
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <!-- SQL： select * from island.t_user where username = 'Arvin' and password = '123456'; -->
  <select id="selectLogin" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_user
    where username = #{username} and password = #{password}
  </select>

  <select id="selectCheckName" resultType="int" parameterType="string" >
    select count(1)
    from t_user
    where username = #{username}
  </select>

  <select id="selectCheckEmail" resultType="int" parameterType="string" >
    select count(1)
    from t_user
    where email = #{email}
  </select>

  <!-- SQL: update t_user set password = '123456', introduction = '...', phone = '13712345678',
              email = 'xxx@qq.com', role = 1 where username = 'Arvin';
   -->
  <update id="updateUserInfo" >
    update t_user
      <set>  <!-- <set>规定至少有一个条件为真，才会插入SET语句，并会自动去除多余的“,” -->
        <if test="password != null">
          password = #{password},
        </if>
        <if test="introduction != null">
          introduction = #{introduction},
        </if>
        <if test="phone != null">
          phone = #{phone},
        </if>
        <if test="email != null">
          email = #{email},
        </if>
      </set>
    where username = #{username}
  </update>

  <select id="selectUsernameByEmail" parameterType="string" resultType="string">
    select username from t_user
    where email = #{email}
  </select>

  <!--<update id="updatePasswordByEmail" parameterType="top.kwseeker.www.ssm_island.pojo.User">-->
    <!--update t_user set password = #{password}-->
    <!--where email = #{email}-->
  <!--</update>-->

</mapper>